spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/book_social_network
    username: username
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: localhost
    port: 1025
    username: ali
    password: ali
    properties:
      mail:
        smtp:
          trust: "*"
        auth: true
        starttls:
          enabled: true
        connectiontimeout: 5000
        timeout: 3000
        writetimeout: 5000

application:
  security:
    jwt:
      secret-key: C6ED2FBA2BB86DCDD979B78485A61C6ED2FBA2BB86DCDD979B78485A61C6ED2FBA2BB86DCDD979B78485A61
      expiration: 8640000
  mailing:
    frontend:
      activation-url: http://localhost:5173/activate-account
  file:
    upload:
      file-output-path: ./uploads